<turbo-frame id="checklist-progress">
  <div class="w-40">
    <div class="w-full bg-gray-200 rounded-full h-2.5">
      <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= @task.checklist_completion_percentage %>%"></div>
    </div>
  </div>
</turbo-frame>
